:root {
  --border-radius: 0.2rem;
  --accent-red: rgb(179, 54, 54);
  --accent-blue: rgb(49, 108, 163);
  --accent-green: rgb(49, 163, 93);
  --accent-cyan: rgb(49, 155, 163);
  --accent-purple: rgb(116, 79, 219);
  --accent-white-1: rgb(230, 230, 230);
  --accent-white-2: rgb(218, 218, 218);
  --accent-white-3: rgb(197, 197, 197);
  --accent-white-4: rgb(177, 177, 177);
  --accent-grey-1: rgb(23, 23, 23);
  --accent-grey-2: rgb(29, 29, 29);
  --accent-grey-3: rgb(35, 35, 35);
  --accent-grey-4: rgb(43, 43, 43);
  --accent-grey-5: rgb(56, 56, 56);
  --accent-grey-6: rgb(62, 62, 62);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--accent-white-1);
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  padding: 0.5rem;
  border-radius: 0.15rem;
}

button:hover {
  filter: brightness(0.9);
}
